<%-include('includes/head.ejs')  %>

<body>
  <main>
    <form class="user-form" action="/form" method="POST">
      <div class="form-control">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="username">
      </div>
      <button class="btn" type="submit">
        Add user
      </button>
    </form>
  </main>
</body>

<%-include('includes/end.ejs')  %>