<%-include('../includes/head.ejs')  %>

<body>
  <%- include('../includes/navigation.ejs')  %>
  <main>
    <div>
      <h1>This is Admin products page</h1>
    </div>
  </main>


  <%- include('../includes/end.ejs')  %>